
<mat-dialog-content class="mat-typography video">
  <iframe
    width="860"
    height="520"
    src="https://www.youtube.com/embed/jprhe-cWKGs"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</mat-dialog-content >
<mat-dialog-actions align="end" class="bgBlack" >
    <button class="btn btn-primary" mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
