<app-home-page></app-home-page>

<!-- <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Launch demo modal
</button>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content modal-backdrop">
        <button
          type="button"
          class="btn-close btn-close-white  pos-end z-3"
          data-bs-dismiss="modal"
          aria-label="Close"
          
        ></button>
      <div class="modal-body d-flex justify-content-center align-items-center" width="944">
        <iframe
          width="944"
          height="438"
          src="https://www.youtube.com/embed/DwAVzfnBEy8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div> 
-->