.header{
    background-color: rgb(27,27,27);
    height: 20vh;
    width: 100%;
    position: absolute;
    top: 16%;
}
.header p{
    color: white;
    font-size: 36px;
    font-weight: 500;
    padding-top: 50px;
    padding-left: 20px  ;
}
