<div class="main">
  <div class="poster">
    <img src="assets/img1.jpg" alt="" />
  </div>
  <div class="header">
    <div class="d-flex shr">
      <h1>Baipan Bhari Deva</h1>
      <img src="assets/shr.png" alt="" />
    </div>
    <div class="star d-flex">
      <img class="marLef" src="assets/star.png" alt="" />
      <h2>9.4/10 <span class="m-3">14.1K Votes</span></h2>
    </div>
    <div class="c1">
      <p>Add your rating & review</p>
      <button class="btn btn-light">Rete Now</button>
    </div>
    <p class="marLeft text-white fs-5 mt-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <button (click)="bookNow()" class="btn BU1 marLeft btn-danger">Book Tackets</button>
  </div>
</div>
<div class="about marLeft">
  <h1>About the movie</h1>
  <p>
    Bai Pan is a story of six estranged sisters who are forced to come together
    for a Managalaguar competition. Can they <br />overcome their past and face
    their struggles?
  </p>
  <hr style="width: 70%" />
  <h1>Cast</h1>
</div>
<div class="cast">
  <div class="actor">
    <img src="assets/ic1.jpg" alt="" />
    <p>Kartik Aaryan <br /><span>As SatyaPram</span></p>
  </div>
  <div class="actor">
    <img src="assets/ic2.jpg" alt="" />
    <p>Kartik Aaryan <br /><span>As SatyaPram</span></p>
  </div>
  <div class="actor">
    <img src="assets/ic3.jpg" alt="" />
    <p>Kartik Aaryan <br /><span>As SatyaPram</span></p>
  </div>
  <div class="actor">
    <img src="assets/ic4.jpg" alt="" />
    <p>Kartik Aaryan <br /><span>As SatyaPram</span></p>
  </div>
  <div class="actor">
    <img src="assets/ic5.jpg" alt="" />
    <p>Kartik Aaryan <br /><span class="">As SatyaPram</span></p>
  </div>
</div>

<div class="about marLeft">
  <h1>Top reviews</h1>

  <mat-card class="example-card">
    <mat-card-header class="all">
      <mat-card-title>Suahant Khadake</mat-card-title>
      <div class="star1">
        <div>
          <img src="assets/star.png" alt=""/>
        </div>
        <div>
          <h2 class="ms-2">9.4/10</h2>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In a ipsa
        molestiae perferendis suscipit excepturi dolor laudantium, aliquid quos
        praesentium! 
      </p>
      <br>
    </mat-card-content>
    <mat-card-actions class="shr1">
      <span class="fs-5"><img src="assets/like.png" alt="" />1.1k</span>
      <div class="d-flex">
        <div class="marLef">
          <img src="assets/shr1.png" alt="" />
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

