
<div class="sl">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div  class="carousel-inner">
      <div *ngFor="let item of slide" class="carousel-item active" data-bs-interval="2000">
        <img [src]="item.src" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="part-1">
  <div class="hh5">
    <h1>NOW SHOWING</h1>
  </div>
  <div class="dp">
    <mat-form-field class="dropdown1">

      <mat-label>GENRE</mat-label>
      
      <mat-select (selectionChange)="someMethod1($event.value)" [(ngModel)]="selectedGenre" name="genre">
        <mat-option *ngFor="let genre of genres" [value]="genre.value">
          {{ genre.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="dropdown1">
      <mat-label>FORMATE</mat-label>
      <mat-select (selectionChange)="someMethod2($event.value)" [(ngModel)]="selectedFormat" name="food">
        <mat-option *ngFor="let format of formats" [value]="format.value">
          {{ format.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="dropdown1">
      <mat-label>LANGUAGES</mat-label>
      <mat-select (selectionChange)="someMethod3($event.value)" [(ngModel)]="selectedLanguage" name="food">
        <mat-option *ngFor="let language of languages" [value]="language.value">
          {{ language.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<app-card></app-card>
<div class="part-2">
  <h1>COMING SOON</h1>
</div>
<app-card-two></app-card-two>

